body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:473px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:86px;
  width:186px;
  height:35px;
  font-size:20px;
  color:#000000;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:176px;
  width:204px;
  height:25px;
}
#u164_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:131px;
  width:300px;
  height:35px;
  font-size:16px;
  color:#000000;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:224px;
  width:80px;
  height:25px;
}
#u166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:224px;
  width:80px;
  height:25px;
}
#u167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:71px;
}
#u168p000 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:27px;
  width:66px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u168p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:6px;
}
#u168p001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:4px;
  height:4px;
}
#u168p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u168p002 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:43px;
  width:26px;
  height:24px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u168p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:249px;
  width:2px;
  height:60px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#009900;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:309px;
  width:169px;
  height:35px;
  font-size:16px;
  color:#009900;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#009900;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:309px;
  width:111px;
  height:35px;
  font-size:16px;
  color:#009900;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:71px;
}
#u171p000 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:27px;
  width:64px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u171p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:6px;
}
#u171p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u171p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u171p002 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:43px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u171p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:249px;
  width:2px;
  height:60px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:176px;
  width:102px;
  height:19px;
  font-size:16px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
